body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.nav {
    background-color: #0056b3;
    width: 80;
    border-radius: 0.6rem;
    padding-bottom: 4%;
}

.logo {
    float: left;
    color: white;
    padding: 14px 16px;

}

.links {
    text-align: right;
    padding: 14px 16px;

}


.links a {
    display: inline;
    color: white;
    padding-left: 2%;
}

.title {
    text-align: left;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 100%;
    font-weight: bolder;

}

.form-input {
    padding-top: 0.2%;
}

.form-button {
    padding-top: 1%;
}

.form-button button {
    background-color:#0056b3;
    border: 0;
    color: white;
    border-radius: 0.3rem;
    padding: 0.3%;
    padding-right: 0.6%;
    padding-left: 0.6%;
    font-weight: bold;
}

.form-select {
    border: 0;
    
}

.list {
    display: flex;
    flex-direction: row;
    align-items: end;
    align-self: stretch;
    gap: 8rem;
    padding-top: 2%;

}

.box {
    background: whitesmoke;
    padding: 2%;
    border-radius: 0.6rem;
}

