
{% extends 'layout.html' %}
{% block content %}
<div class="title">
    cadastro de tarefa
</div>
<form method="post">
    {% csrf_token %}
    <div class="form-input">
        Descrição <br>
        {{ form.descricao }}
    </div>
    <div class="form-input">
        Setor <br>
        {{ form.setor }}
    </div>
    <div class="form-select">
        Usuario <br>
        {{ form.usuario }}
    </div>
    <div class="form-select">
        Prioridade <br>
        {{ form.prioridade }}
    </div>
    <div class="form-button">
        <button type="submit">cadastrar</button>
    </div>
</form>
{% endblock %}
