{% extends 'layout.html' %}

{%block content %}
<div class="list">
    <h2>a fazer</h2>
    <div class="box">
        {% for t in tarefas %}
        {% if t.status == "a fazer" %}
        <b>Descrição: </b> <i>{{ t.descricao }}</i>
        <br>
        <b>Setor: </b> <i>{{ t.setor }}</i>
        <br>
        <b>Prioridade: </b> <i>{{ t.prioridade }}</i>
        <br>
        <b>Vinculado à: </b> <i> {{ t.usuario }}</i>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="list">
    <h2>fazendo</h2>
    <div class="box">
        {% for t in tarefas %}
        {% if t.status == "fazendo" %}
        <b>Descrição: </b> <i>{{ t.descricao }}</i>
        <br>
        <b>Setor: </b> <i>{{ t.setor }}</i>
        <br>
        <b>Prioridade: </b> <i>{{ t.prioridade }}</i>
        <br>
        <b>Vinculado à: </b> <i> {{ t.usuario }}</i>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="list">
    <h2>pronto</h2>
    <div class="box">
        {% for t in tarefas %}
        {% if t.status == "pronto" %}
        <b>Descrição: </b> <i>{{ t.descricao }}</i>
        <br>
        <b>Setor: </b> <i>{{ t.setor }}</i>
        <br>
        <b>Prioridade: </b> <i>{{ t.prioridade }}</i>
        <br>
        <b>Vinculado à: </b> <i> {{ t.usuario }}</i>
    </div>
    {% endif %}
    {% endfor %}
</div>
{%endblock %}